@model IEnumerable<WardrobeMVCProject.Models.Season>

@{
    ViewBag.Title = "Index";
}

<div class="page-header textBox container">
    <h2>Seasons</h2>

    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn superheroBtn", role = "button" })
    </p>
    <p>
        @Html.ActionLink("Back to Articles", "Index", "Articles", new { }, new { @class = "btn superheroBtn", role = "button" })
    </p>
</div>

<div class="alternateTextBox">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season1)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Season1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SeasonID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SeasonID })
                </td>
            </tr>
        }

    </table>

</div>
