@model IEnumerable<WardrobeMVCProject.Models.Article>

@{
    ViewBag.Title = "Capes";
}
<div class="container-fluid body-content">

    <div class="page-header textBox container">
        <h2>Capes</h2>

        <p>
            @Html.ActionLink("Create New", "CreateCapes", new { }, new { @class = "btn superheroBtn", role = "button" })
        </p>
    </div>

    <div class="row articleDisplay">
        @foreach (var item in Model)
            {
            <div class="col-md-5 col-sm-12 articleContent border">
                <div class="col-md-3 col col-sm-12 col-xs-12">
                    <div class="thumbnail indexPhoto">
                        @if (!string.IsNullOrEmpty(item.Photo))
                        {
                            <img src="@Url.Content(item.Photo)" />
                        }
                        else
                        {
                            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
                        }
                    </div>
                </div>

                <div class="col-md-9 col-sm-12 col-xs-12">
                    <p class="bold">@Html.DisplayFor(modelItem => item.Name)</p>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p>@Html.DisplayNameFor(model => model.Color.Color1):</p>
                        <p>@Html.DisplayNameFor(model => model.Occasion.Occasion1): </p>
                        <p>@Html.DisplayNameFor(model => model.Season.Season1): </p>
                    </div>

                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <p>@Html.DisplayFor(modelItem => item.Color.Color1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Occasion.Occasion1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Season.Season1)</p>
                    </div>
                    @Html.ActionLink("Edit", "EditCapes", new { id = item.ArticleID }, new { @class = "btn superheroBtn", role = "button" })
                    @Html.ActionLink("Details", "DetailsCapes", new { id = item.ArticleID }, new { @class = "btn superheroBtn", role = "button" })
                    @Html.ActionLink("Delete", "DeleteCapes", new { id = item.ArticleID }, new { @class = "btn superheroBtn", role = "button" })
                </div>
            </div>

        }
    </div>

</div>

