@model WardrobeMVCProject.Models.Article

@{
    ViewBag.Title = "Details";
}

@*Page Header*@
<div class="page-header textBox container body-content">
    <h2>Details</h2>
</div>

<div class="textBox detailsDisplay">

    @*Add Photo and check if it is null. If so, display default photo*@
    <div class="row thumbnail detailsPhoto">
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="@Url.Content(Model.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }
    </div>

    @*Article Name*@
    <h2>@Html.DisplayFor(model => model.Name)</h2>

    @*Display other fields in two columns so displays on view as fieldname: value*@
    <div class="row detailsText">
        <div class="col-md-5 col-sm-5 col-xs-5 textRight">
            <p class="bold">@Html.DisplayNameFor(model => model.ArticleType.ArticleType1):</p>
            <p class="bold">@Html.DisplayNameFor(model => model.Color.Color1):</p>
            <p class="bold">@Html.DisplayNameFor(model => model.Occasion.Occasion1):</p>
            <p class="bold">@Html.DisplayNameFor(model => model.Season.Season1):</p>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 textLeft">
            <p>@Html.DisplayFor(model => model.ArticleType.ArticleType1)</p>
            <p>@Html.DisplayFor(model => model.Color.Color1)</p>
            <p>@Html.DisplayFor(model => model.Occasion.Occasion1)</p>
            <p>@Html.DisplayFor(model => model.Season.Season1)</p>
        </div>
    </div>

</div>

@*Link Buttons*@
<div class="textBox detailsDisplay">
    <p>
        @Html.ActionLink("Back to List", "Index", new { id = Model.ArticleID }, new { @class = "btn superheroBtn largeBtn", role = "button" })
    </p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }, new { @class = "btn superheroBtn largeBtn", role = "button" })
    </p>
    <p>
        @Html.ActionLink("Articles", "Index", new { }, new { @class = "btn superheroBtn", role = "button" })
        @Html.ActionLink("Outfits", "Index", "Outfits", new { }, new { @class = "btn superheroBtn", role = "button" })
    </p>
</div>
