@model WardrobeMVCProject.Models.Article

@{
    ViewBag.Title = "DetailsCapes";
}

<div class="page-header textBox container body-content">
    <h2>Details</h2>
</div>

<div class="textBox detailsDisplay">
    <div class="row thumbnail detailsPhoto">
        <img src="@Url.Content(Model.Photo)" onerror="if (this.src != 'error.jpg') this.src = '~/Content/images/No-Photo-Available-240x300.jpg';" />
    </div>

    <h2>@Html.DisplayFor(model => model.Name)</h2>

    <div class="row detailsText">
        <div class="col-md-5 col-sm-6 col-xs-6 textRight">
            <p class="bold">@Html.DisplayNameFor(model => model.ArticleType.ArticleType1):</p>
            <p class="bold">@Html.DisplayNameFor(model => model.Color.Color1):</p>
            <p class="bold">@Html.DisplayNameFor(model => model.Occasion.Occasion1):</p>
            <p class="bold">@Html.DisplayNameFor(model => model.Season.Season1):</p>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-6 textLeft">
            <p>@Html.DisplayFor(model => model.ArticleType.ArticleType1)</p>
            <p>@Html.DisplayFor(model => model.Color.Color1)</p>
            <p>@Html.DisplayFor(model => model.Occasion.Occasion1)</p>
            <p>@Html.DisplayFor(model => model.Season.Season1)</p>
        </div>
    </div>

</div>

<div class="textBox detailsDisplay buttonDisplay">
    <p>
        @Html.ActionLink("Back to List", "Capes", new { id = Model.ArticleID }, new { @class = "btn superheroBtn largeBtn", role = "button" })
    </p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }, new { @class = "btn superheroBtn largeBtn", role = "button" })
    </p>
    <p>
        @Html.ActionLink("Articles", "Index", new { }, new { @class = "btn superheroBtn", role = "button" })
        @Html.ActionLink("Suits", "Suits", new { }, new { @class = "btn superheroBtn", role = "button" })
        @Html.ActionLink("Capes", "Capes", new { }, new { @class = "btn superheroBtn", role = "button" })
        @Html.ActionLink("Shoes", "Shoes", new { }, new { @class = "btn superheroBtn", role = "button" })
        @Html.ActionLink("Accessories", "Accessories", new { }, new { @class = "btn superheroBtn", role = "button" })
    </p>
</div>
