@model IEnumerable<WardrobeMVCProject.Models.Article>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid body-content">

    @*Page Header*@
    <div class="page-header textBox container">
        <h2 class="addMargin">Manage Your Articles</h2>

        <p class="addMargin">Manage and create particularly fascinating colors, seasons and occassions.</p>

        <p class="addMargin">
            @Html.ActionLink("Create A New Article", "Create", new { }, new { @class = "btn superheroBtn", role = "button" })
        </p>
    </div>
    
    @*Intro text and links to colors, occassions and seasons pages*@
    <div class="row articleDisplay">
        <div class="col-md-3 col-sm-12 articleContent border caption">
            <h4 class="bold addMargin">Colors</h4>
            <p class="addMargin">Adding a super cool new item to your collection? One that has a super unique color for a super suave superhero? Head right on over to the colors page to manage your colors with your super-genius.</p>
            <p class="addMargin"><a href="~/Colors/Index" class="btn superheroBtn">Colors</a></>
        </div>
        <div class="col-md-3 col-sm-12 articleContent border caption">
            <h4 class="bold addMargin">Occasions</h4>
            <p class="addMargin">Being a generously humble and generally adored superhero, someone like yourself will clearly run across times when it is simply imperative to add another glorious occasion to the list! We will forgo to mention that-which-shall-not-be-named (unmitigated disasters precipitated by abysmally inept "super"heroes who may perhaps be living long enough to become the villain...)</p>
            <p class="addMargin"><a href="~/Occasions/Index" class="btn superheroBtn">Occasions</a></>
        </div>
        <div class="col-md-3 col-sm-12 articleContent border caption">
            <h4 class="bold addMargin">Seasons</h4>
            <p class="addMargin">Seasons of life come and go. We've provided the most common in super-lives. But we know such strapping young heroes like yourselves will probably branch out in your careers. Refine your list of seasons to reflect your super-circumstances.</p>
            <p class="addMargin"><a href="~/Seasons/Index" class="btn superheroBtn">Seasons</a></p>
        </div>
    </div>

    @*Intro text and links to different article type pages*@
    <div class="row alternateTextBox border">
        <h4 class="bold addMargin">Take A Look At Your Articles</h4>
        <p class="addMargin">Managed your wardrobe to your heart's content? Send your gorgeous self on over to your articles. Create and admire your mighty wardrobe!</p>
        <p class="addMargin">
            @Html.ActionLink("Suits", "Suits", new { }, new { @class = "btn superheroBtn", role = "button" })
            @Html.ActionLink("Shoes", "Shoes", new { }, new { @class = "btn superheroBtn", role = "button" })
            @Html.ActionLink("Capes", "Capes", new { }, new { @class = "btn superheroBtn", role = "button" })
            @Html.ActionLink("Accessories", "Accessories", new { }, new { @class = "btn superheroBtn", role = "button" })
        </p>
    </div>

</div>