@model WardrobeMVCProject.Models.Outfit

@{
    ViewBag.Title = "Create";
}

@*Page Header*@
<div class="page-header textBox container body-content">
    <h2>Create an Outfit</h2>
</div>

<div class="alternateTextBox">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        //Form to choose articles for your outfit
        //First options of the form: suit, shoes, cape, accessory, accessory, accesory
        //Each of those options has a select list filtered to only list articles of that type
        <h4>Choose Your Articles</h4>
        <hr/>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID1, "Suit", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID1", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID2, "Shoes", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID2", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID3, "Cape", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID3", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID3, "", new { @class = "text-danger" })
                   <p>@Html.ActionLink("Beware the Capes!", "CapeWarning", "Outfits", new { }, new { @class = "btn superheroBtn red", role = "button" })</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID4, "Accessory", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID4", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID5, "Accessory", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID5", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID5, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID6, "Accessory", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID6", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID6, "", new { @class = "text-danger" })
                </div>
            </div>

            @*After specified items, allow to add general additional articles, with select lists that include all articles*@

            <p class="textLeft bold addMargin">Choose additional articles:</p>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID7, "Article", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID7", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID7, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID8, "Article", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID8", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID8, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID9, "Article", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID9", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID9, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID10, "Article", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID10", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID10, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID11, "Article", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID11", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID11, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArticleID12, "Article", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArticleID12", null, "None", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleID12, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Create" class="btn superheroBtn" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Outfits", "Index", new { }, new { @class = "btn superheroBtn", role = "button" })
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
