@model WardrobeMVCProject.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<div class="container">
    
    <div class="page-header textBox container">
        <h2>Outfit</h2>
    </div>

    <hr />

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article.Photo))
        {
            <img src="@Url.Content(Model.Article.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }
    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article1.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article1.Photo))
        {
            <img src="@Url.Content(Model.Article1.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }
    </div>


    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article2.Name)</p>

        @if (!string.IsNullOrEmpty(Model.Article2.Photo))
        {
            <img src="@Url.Content(Model.Article2.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }
     
    </div>

 <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article3.Name)</p>
       
     @if (!string.IsNullOrEmpty(Model.Article3.Photo))
     {
         <img src="@Url.Content(Model.Article3.Photo)" />
     }
     else
     {
         <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
     }

    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article4.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article4.Photo))
        {
            <img src="@Url.Content(Model.Article4.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }
       
    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article5.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article5.Photo))
        {
            <img src="@Url.Content(Model.Article5.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }

    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article6.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article6.Photo))
        {
            <img src="@Url.Content(Model.Article6.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }

    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article7.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article7.Photo))
        {
            <img src="@Url.Content(Model.Article7.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }

    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article8.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article8.Photo))
        {
            <img src="@Url.Content(Model.Article8.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }

    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article9.Name)</p>

        @if (!string.IsNullOrEmpty(Model.Article9.Photo))
        {
            <img src="@Url.Content(Model.Article9.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }

    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article10.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article10.Photo))
        {
            <img src="@Url.Content(Model.Article10.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }

    </div>

    <div class="outfitDetails textBox border">
        <p class="addMargin">@Html.DisplayFor(model => model.Article11.Name)</p>
        @if (!string.IsNullOrEmpty(Model.Article11.Photo))
        {
            <img src="@Url.Content(Model.Article11.Photo)" />
        }
        else
        {
            <img src="~/Content/images/No-Photo-Available-240x300.jpg" />
        }

    </div>
}


    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn superheroBtn largeBtn outfitDetailsBtn", role = "button" })

</div>

