@model IEnumerable<WardrobeMVCProject.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<div class="page-header textBox container">
    <h2>Outfits</h2>

    <p>
        @Html.ActionLink("Create A New Outfit", "Create", new { }, new { @class = "btn superheroBtn", role = "button" })
    </p>
</div>

<div class="row articleDisplay">

    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-12 articleContent border">
            <h4 class="text-center">Outfit</h4>
            <p class="bold paddingLeftOutfit">Articles:</p>
            <div class="text-center">
                <p>@Html.DisplayFor(modelItem => item.Article.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article1.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article2.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article3.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article4.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article5.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article6.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article7.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article8.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article9.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article10.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Article11.Name)</p>
                @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }, new { @class = "btn superheroBtn", role = "button" })
                @Html.ActionLink("Details", "Details", new { id = item.OutfitID }, new { @class = "btn superheroBtn", role = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID }, new { @class = "btn superheroBtn", role = "button" })
            </div>
        </div>
    }

</div>
